@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
    stroke: rgba(255, 255, 255, 0.404);
    stroke-width: 2;
}

.node-range, .peers {
    pointer-events: none;
}

.node:hover>.node-range {
    height: 600px;
    width: 600px;
    opacity: 0.5;
}

.node:hover>.peers {
    display: flex;
}

.node:hover>.controls {
    display: flex;
}